@charset "UTF-8";
.marign {
  width: 6.6rem;
  margin: 0 auto; }

header {
  height: 0.9rem;
  background: #4ca1fb;
  position: fixed;
  top: 0;
  width: 100%; }
  header .header-l {
    float: left;
    width: 0.44rem;
    height: 0.45rem;
    display: block;
    margin: 0.25rem 0 0 0.25rem; }
  header .header-c {
    float: left;
    text-align: center;
    font: 0.35rem/0.9rem "微软雅黑";
    color: #FFFFFF;
    margin-left: 2.78rem; }
    header .header-c span {
      float: left; }
    header .header-c i {
      display: block;
      width: 0.26rem;
      height: 0.15rem;
      float: left;
      margin-top: 0.42rem;
      background: url(../img/m-header3.png) no-repeat;
      background-size: 100%;
      margin-left: 0.15rem; }
  header .header-r {
    float: right;
    width: 0.55rem;
    height: 0.52rem;
    margin: 0.17rem 0.17rem 0 0; }
    header .header-r img {
      display: inline-block;
      width: 100%;
      height: 100%; }

section {
  padding: 0.9rem 0 0.98rem 0; }
  section .msg {
    border-bottom: 0.2rem solid #f5f5f5; }
    section .msg .msg1 {
      height: 2.6rem;
      background: #2e81f9;
      padding: 0.25rem 0.28rem 0 0.28rem;
      position: relative;
      display: flex;
      justify-content: space-between; }
      section .msg .msg1 .msg1-l {
        height: 1rem;
        width: 3.1rem;
        display: flex;
        justify-content: space-between; }
        section .msg .msg1 .msg1-l .client {
          display: inline-block;
          height: 100%;
          width: 0.9rem;
          border-radius: 50%; }
        section .msg .msg1 .msg1-l .p {
          font: 0.24rem "微软雅黑";
          color: #000;
          margin-left: 0.16rem;
          height: 100%;
          width: 2rem; }
          section .msg .msg1 .msg1-l .p i {
            display: block;
            height: 0.35rem;
            margin-top: 0.15rem;
            display: flex;
            justify-content: flex-start; }
            section .msg .msg1 .msg1-l .p i img {
              display: inline-block;
              width: 0.35rem;
              height: 100%; }
      section .msg .msg1 .msg1-r {
        height: 1rem;
        width: 2.22rem; }
        section .msg .msg1 .msg1-r .msg-top {
          width: 100%;
          height: 0.44rem;
          border-radius: 0.22rem;
          background: #00fff0;
          justify-content: flex-start;
          display: flex; }
          section .msg .msg1 .msg1-r .msg-top img {
            display: inline-block;
            height: 0.36rem;
            width: 0.36rem;
            border-radius: 50%;
            margin: 0.04rem 0 0 0.04rem; }
          section .msg .msg1 .msg1-r .msg-top p {
            font: 0.2rem/0.44rem "微软雅黑";
            color: #04b7b1;
            margin-left: 0.1rem; }
            section .msg .msg1 .msg1-r .msg-top p span {
              margin: 0 0.2rem 0 0.1rem; }
        section .msg .msg1 .msg1-r .msg-bottom {
          width: 100%;
          height: 0.44rem;
          border-radius: 0.22rem;
          background: #ffda3b;
          margin-top: 0.16rem;
          justify-content: flex-start;
          display: flex; }
          section .msg .msg1 .msg1-r .msg-bottom img {
            display: inline-block;
            height: 0.36rem;
            width: 0.36rem;
            border-radius: 50%;
            margin: 0.04rem 0 0 0.04rem; }
          section .msg .msg1 .msg1-r .msg-bottom p {
            font: 0.2rem/0.44rem "微软雅黑";
            color: #04b7b1;
            margin-left: 0.1rem; }
            section .msg .msg1 .msg1-r .msg-bottom p span {
              margin: 0 0.2rem 0 0.1rem; }
      section .msg .msg1 .yue {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: -2.2px; }
        section .msg .msg1 .yue li {
          height: 1rem;
          width: 2.5rem;
          background: rgba(0, 0, 0, 0.1);
          margin-right: 1px;
          text-align: center;
          font: 0.26rem/0.4rem "微软雅黑";
          color: #fff;
          padding-top: 0.1rem;
          box-sizing: border-box; }
          section .msg .msg1 .yue li:nth-child(3) {
            margin: 0; }
    section .msg .msg2 {
      height: 1.12rem;
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 0.2rem;
      box-sizing: border-box; }
      section .msg .msg2 .msg2-l {
        width: 2.5rem;
        height: 0.92rem;
        text-align: center; }
        section .msg .msg2 .msg2-l span {
          width: 1.3rem;
          height: 0.42rem;
          display: block;
          font: 0.26rem/0.42rem "微软雅黑";
          background: url(../img/m-msg-l.png) no-repeat left center;
          margin: 0 auto; }
        section .msg .msg2 .msg2-l p {
          height: 0.42rem;
          width: 100%;
          border-radius: 0.21rem;
          font: 0.22rem/0.42rem "微软雅黑";
          color: #067fc6;
          margin-top: -0.1rem;
          background: #f6f6f6; }
          section .msg .msg2 .msg2-l p i {
            display: block;
            height: 0.34rem;
            width: 0.8rem;
            float: left;
            background: #0085CF;
            border-radius: 0.17rem;
            font: 0.22rem/0.34rem "";
            color: #fff;
            margin: 0.04rem 0 0 0.04rem; }
      section .msg .msg2 .msg2-c {
        width: 1.12rem;
        height: 0.4rem;
        border: 1px solid #0085CF;
        text-align: center;
        font: 0.2rem/0.4rem "微软雅黑";
        color: #0085CF;
        border-radius: 0.2rem; }
      section .msg .msg2 .msg2-r {
        width: 2.5rem;
        height: 0.92rem;
        text-align: center; }
        section .msg .msg2 .msg2-r span {
          width: 1.3rem;
          height: 0.42rem;
          display: block;
          font: 0.26rem/0.42rem "微软雅黑";
          background: url(../img/m-msg-l.png) no-repeat left center;
          margin: 0 auto; }
        section .msg .msg2 .msg2-r p {
          height: 0.42rem;
          width: 100%;
          border-radius: 0.21rem;
          font: 0.22rem/0.42rem "微软雅黑";
          color: #067fc6;
          margin-top: -0.1rem;
          background: #f6f6f6; }
          section .msg .msg2 .msg2-r p i {
            display: block;
            height: 0.34rem;
            width: 0.8rem;
            float: left;
            background: #0085CF;
            border-radius: 0.17rem;
            font: 0.22rem/0.34rem "";
            color: #fff;
            margin: 0.04rem 0 0 0.04rem; }
    section .msg .next-code {
      height: 0.5rem;
      width: 0.9rem;
      text-align: center;
      margin: 0.2rem auto 0.1rem; }
      section .msg .next-code span {
        font: 0.2rem "";
        color: #9f9f9f; }
      section .msg .next-code img {
        display: inline-block;
        width: 0.2rem;
        height: 0.1rem;
        margin: 0 auto; }
  section .cost {
    display: flex;
    justify-content: flex-start;
    height: 4.1rem;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 0.5rem solid #f6f6f6; }
    section .cost li {
      height: 50%;
      width: 25%;
      border-top: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      box-sizing: border-box;
      text-align: center; }
      section .cost li img {
        display: inline-block;
        height: 0.6rem;
        width: 0.6rem;
        margin: 0.5rem auto 0.25rem; }
      section .cost li span {
        font: 0.22rem "微软雅黑";
        color: #000000; }
  section .cost2 {
    display: flex;
    justify-content: flex-start;
    height: 1.5rem;
    width: 100%;
    border-bottom: 0.5rem solid #f6f6f6; }
    section .cost2 li {
      height: 100%;
      width: 50%;
      border: 1px solid #d9d9d9;
      box-sizing: border-box;
      text-align: center; }
      section .cost2 li img {
        display: inline-block;
        height: 0.6rem;
        width: 0.6rem;
        margin: auto 0.2rem; }
      section .cost2 li span {
        font: 0.22rem/1.5rem "微软雅黑";
        color: #000000; }
      section .cost2 li:nth-child(1) {
        border-right: none; }
  section .cost3 {
    display: flex;
    justify-content: flex-start;
    height: 2rem;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 0.5rem solid #f6f6f6; }
    section .cost3 li {
      height: 100%;
      width: 25%;
      border-top: 1px solid #d9d9d9;
      border-right: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      box-sizing: border-box;
      text-align: center; }
      section .cost3 li img {
        display: inline-block;
        height: 0.6rem;
        width: 0.6rem;
        margin: 0.5rem auto 0.25rem; }
      section .cost3 li span {
        font: 0.22rem "微软雅黑";
        color: #000000; }

footer {
  height: 0.98rem;
  border-top: 0.2px solid #eeeeee;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0.13rem;
  box-sizing: border-box;
  background-color: #fff; }
  footer ul {
    display: flex;
    justify-content: space-between; }
    footer ul li {
      width: 0.7rem; }
      footer ul li p {
        height: 0.5rem;
        width: 0.52rem;
        margin: 0 auto; }
      footer ul li span {
        font: 0.22rem "微软雅黑";
        color: #b2b1c2;
        display: block;
        text-align: center; }
      footer ul li:nth-child(1) p {
        background: url(../img/footer1-1.png) no-repeat;
        background-size: 100%; }
      footer ul li:nth-child(2) p {
        background: url(../img/footer2-1.png) no-repeat;
        background-size: 100%; }
      footer ul li:nth-child(3) p {
        background: url(../img/footer3.png) no-repeat;
        background-size: 100%; }
      footer ul li:nth-child(4) p {
        background: url(../img/footer4.png) no-repeat;
        background-size: 100%; }
      footer ul li:nth-child(5) p {
        background: url(../img/footer5.png) no-repeat;
        background-size: 100%; }
      footer ul li.active span {
        color: #0085d0; }
