@charset "UTF-8";
.marign {
  width: 6.6rem;
  margin: 0 auto; }

.margin2 {
  width: 7.04rem;
  margin: 0 auto; }

.tittle {
  display: flex;
  justify-content: space-between; }
  .tittle h3 {
    font: 0.29rem/0.8rem "微软雅黑";
    padding-left: 0.56rem; }
  .tittle a {
    font: 0.22rem/0.8rem "微软雅黑";
    color: #9d9d9d;
    margin-right: 0.4rem; }

header {
  width: 100%;
  height: 0.9rem;
  background-color: #0085cf;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0; }
  header .header-l {
    height: 0.33rem;
    width: 0.42rem;
    margin: 0.29rem 2.03rem 0 0.24rem;
    background: url(../img/header-l.png) no-repeat;
    background-size: 100%; }
  header .logo {
    font: 0.36rem/0.9rem "微软雅黑";
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin-left: -1rem; }
    header .logo p {
      font: 0.3rem/0.9rem "微软雅黑";
      color: #000;
      text-align: center;
      margin-left: 0.35rem; }
  header .header-r {
    height: 0.52rem;
    width: 0.55rem;
    margin: 0.25rem 0.25rem 0 0;
    background: url(../img/ss.png) no-repeat;
    background-size: 100%; }

section {
  padding: 0.9rem 0 0.98rem 0; }
  section .top1 {
    padding-top: 0.22rem;
    border-bottom: 0.5rem solid #f6f6f6; }
    section .top1 input {
      width: 100%;
      height: 0.7rem;
      background: #eeeeee;
      border: none;
      font: 0.27rem/0.7rem "微软雅黑";
      padding-left: 0.24rem;
      border-radius: 0.08rem;
      box-sizing: border-box; }
    section .top1 .top1-b {
      display: flex;
      justify-content: space-between;
      padding: 0.3rem 0; }
      section .top1 .top1-b li {
        width: 1.4rem;
        height: 1.4rem;
        text-align: center; }
        section .top1 .top1-b li img {
          height: 0.9rem;
          width: 0.9rem;
          display: inline-block;
          margin-bottom: 0.16rem; }
        section .top1 .top1-b li span {
          font: 0.23rem "微软雅黑"; }
  section .taoCan {
    border-bottom: 0.5rem solid #f6f6f6; }
    section .taoCan ul {
      display: flex;
      justify-content: space-between;
      padding: 0.26rem 0; }
      section .taoCan ul li {
        width: 2.03rem;
        text-align: center; }
        section .taoCan ul li img {
          display: inline-block;
          height: 1.36rem;
          width: 1.51rem; }
        section .taoCan ul li p {
          font: 0.28rem/0.4rem "";
          color: #000000; }
        section .taoCan ul li span {
          font: 0.22rem/0.38rem "微软雅黑";
          color: #c0c0c0; }
        section .taoCan ul li i {
          font: 0.26rem/0.4rem "微软雅黑";
          color: #e5007b; }
  section .tuijian {
    border-bottom: 0.5rem solid #f6f6f6; }
    section .tuijian ul {
      display: flex;
      justify-content: space-between;
      padding: 0.26rem 0; }
      section .tuijian ul li {
        width: 2.03rem;
        text-align: center; }
        section .tuijian ul li img {
          display: inline-block;
          height: 1.36rem;
          width: 1.51rem; }
        section .tuijian ul li p {
          font: 0.28rem/0.4rem "";
          color: #000000; }
        section .tuijian ul li span {
          font: 0.22rem/0.38rem "微软雅黑";
          color: #c0c0c0; }
        section .tuijian ul li i {
          font: 0.26rem/0.4rem "微软雅黑";
          color: #e5007b; }
  section .hot {
    border-bottom: 0.5rem solid #f6f6f6; }
    section .hot ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border-top: 1px solid #e9e9e9; }
      section .hot ul li {
        width: 50%;
        height: 33.3%;
        border-bottom: 1px solid #e9e9e9;
        border-right: 1px solid #e9e9e9;
        box-sizing: border-box;
        padding: 0.23rem 0 0.28rem 0.26rem; }
        section .hot ul li a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-start; }
          section .hot ul li a img {
            display: inline-block;
            height: 1.58rem;
            width: 0.82rem;
            margin-right: 0.27rem; }
          section .hot ul li a .ph-r {
            height: 100%;
            width: 2.8rem; }
            section .hot ul li a .ph-r p {
              font: 0.28rem "";
              color: #000000; }
            section .hot ul li a .ph-r span {
              font: 0.23rem/0.53rem "微软雅黑";
              color: #9a9a9a; }
            section .hot ul li a .ph-r i {
              font: 0.26rem/0.33rem "微软雅黑";
              color: #e5007b;
              margin-top: 0.35rem;
              display: block; }
  section .show ul {
    display: flex;
    justify-content: space-between;
    padding: 0.26rem 0; }
    section .show ul li {
      width: 2.03rem;
      text-align: center; }
      section .show ul li img {
        display: inline-block;
        height: 1.1rem;
        width: 1.25rem; }
      section .show ul li p {
        font: 0.28rem/0.4rem "";
        color: #000000; }
      section .show ul li span {
        font: 0.22rem/0.38rem "微软雅黑";
        color: #c0c0c0; }
      section .show ul li i {
        font: 0.26rem/0.4rem "微软雅黑";
        color: #e5007b; }

footer {
  height: 0.98rem;
  border-top: 0.2px solid #eeeeee;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0.13rem;
  box-sizing: border-box;
  background-color: #fff; }
  footer ul {
    display: flex;
    justify-content: space-between; }
    footer ul li {
      width: 0.7rem; }
      footer ul li p {
        height: 0.5rem;
        width: 0.52rem;
        margin: 0 auto; }
      footer ul li span {
        font: 0.22rem "微软雅黑";
        color: #b2b1c2;
        display: block;
        text-align: center; }
      footer ul li:nth-child(1) p {
        background: url(../img/footer1-1.png) no-repeat;
        background-size: 100%; }
      footer ul li:nth-child(2) p {
        background: url(../img/footer2.png) no-repeat;
        background-size: 100%; }
      footer ul li:nth-child(3) p {
        background: url(../img/footer3-1.png) no-repeat;
        background-size: 100%; }
      footer ul li:nth-child(4) p {
        background: url(../img/footer4.png) no-repeat;
        background-size: 100%; }
      footer ul li:nth-child(5) p {
        background: url(../img/footer5.png) no-repeat;
        background-size: 100%; }
      footer ul li.active span {
        color: #0085d0; }
